.footerTop {
    margin: 20px 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 40px;

    width: calc(100% - 240px);


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

@media screen and (max-width: 768px) {
    .footerTop {
        margin: 20px auto;
        display: flex;
        flex-direction: column; /* Default for mobile */
        justify-content: flex-start; /* Default for mobile */
        align-items: flex-start;
        gap: 20px; /* Reduced gap for mobile */
        padding: 0;

        width: 100%;
        max-width: 1200px; /* Center and limit width for larger screens */
    }
}

.footerHeading {
    color: #6e7491;
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 15px;
    /* footer / list item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.footerLi {
    color: #7c8db0;
    cursor: pointer;
    list-style: none;
    margin-bottom: 15px;
    /* footer / list item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.footerLi:hover {
    color: #605DEC;
}

.footerIcons{
    display: flex;
    flex-direction: row;
}

.footerIcons img {
    cursor: pointer;
    object-fit: cover;
    width: 1.25rem;
    height: 1.25rem;
    padding: 4px;
}

.footerIcons img.sm {
    width: 1.75rem;
    height: 1.75rem;
}

.footerIcons img:hover {
    filter: brightness(1.2);
}
.footerBottom {
    border-top: 2px solid #cbd4e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.footerCopy {
    color: #7c8db0;
    font-size: 0.875rem;
}
.logo{
    /* Wordmark */

    margin: 10px auto;
    width: 131px;
    height: 54px;
    padding: 4px;
    color: #605DEC;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
/* footer content */

/* Auto layout */
