.navbar {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    height: 96px;
    background-color: #FFFFFF;
    z-index: 99;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    gap: 10px;
    height: 96px;
}

.logo{
    cursor: pointer;
    border: none;
}
.logo:focus,
.logo:active{
    border: none;
}

.menu{
    cursor: pointer;
    padding: 12px 0;
    display: none;
    width: 32px;
    height: 32px;
}

.buttons{
    padding:16px;
    gap: 16px;
    display: flex;
}

.routs{
    padding:16px 0;
    gap: 16px;
    display: flex;
    margin: 0;
}

.routs a, .signIn, .signUp, .user{
    /* Purple Blue */
    text-decoration: none;
    border-radius: 4px;
    border: none;
    font-family: 'Nunito Sans', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}


.notActive{
    /* Grey / 400 */
    display: flex;
    align-items: center;
    color: #7C8DB0;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.routs a:hover, .signIn:hover{
    color: #605DEC;
}

.signUp{
    width: 95px;
    height: 48px;
    /* Purple Blue */
    background: #605DEC;
    color: #FAFAFA;
    transition: 0.5s ease-in-out;
}

.signIn{
    color: #7C8DB0;
}

.signUp::before {
    content: "";
    width: 0;
    height: 100%;
    /*position: absolute;*/
    background-color: #ffffff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}
.signUp:hover {
    background: white;
    color: #605DEC;
    border: 2px solid #605DEC;
}

.active{
    display: flex;
    align-items: center;
    color: #605DEC;
}

.dropMenu{
    gap: 16px;
    display: flex;
    z-index: 99;
    justify-content: space-between;

    padding: 0 40px 0 24px;
    background-color: white;
}

.dropMenu a{
    text-decoration: none;
}

/* When the width is 800px or larger, show .show-on-large and hide .show-on-small */
@media screen and (max-width: 800px) {
    .buttons .routs a, .signIn{
        display: none;
    }
    .menu{
        display: inline-block;
    }
}

/* When the width is 800px or larger, show .show-on-large and hide .show-on-small */
@media screen and (min-width: 800px) {
    .dropMenu{
        display: none;
    }
}