.hero {
    /*margin-top: 96px;*/
    width: 100%;
    height: calc(100vh - 96px);
    background-image: url("/assets/background.png");
    background-size: cover;
    display: flex;
    justify-content: start;
    /*align-content: start;*/
    flex-direction: column;
}
.h1{
    font-family: 'Nunito Sans', system-ui;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 90px;
    /* or 94% */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 37%;
    background: radial-gradient(#7e27a6,#29b5f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    padding: 0;
    margin: 5% 0;
}